In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

In [2]:
train_data=pd.read_csv('Features/finaldata/train_raw.csv')
# train_data=pd.read_csv('Features/finaldata/train28.csv')
# valid_data=pd.read_csv('Features/finaldata/valid_raw.csv')

In [3]:
train_data.shape

(14597343, 64)

In [4]:
train_data.head()

,label,clickTime,connectionType,conversionTime,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,...,uspolast,creativeIDconvrate,positionIDconvrate,camgaignIDconvrate,advertiserIDconvrate,appIDconvrate,adIDconvrate,hometownconvrate,residenceconvrate,appCategoryconvrate
0,0,250000,2,NaN,8930,6315,1,18193893,20938,6290,...,32052,0.01358,0.01601,0.01041,0.00555,0.00892,0.01105,0.03399,0.03040,0.01667
1,0,250000,1,NaN,43695,4522,1,4128332,16739,6026,...,-1,0.04614,0.02438,0.04629,0.02888,0.03875,0.04616,0.03038,0.03047,0.02735
2,0,250000,0,NaN,28424,4522,0,17247261,20367,3774,...,-1,0.00001,0.02438,0.00001,0.00001,0.04060,0.00001,0.03280,0.02863,0.03583
3,0,250000,0,NaN,47347,4522,0,14569685,12268,5725,...,-1,0.00001,0.02438,0.00001,0.00001,0.00840,0.00001,0.02127,0.02868,0.03583
4,0,250000,2,NaN,16759,7511,1,8351850,15256,6679,...,-1,0.01254,0.01094,0.01007,0.02533,0.02604,0.01006,0.03087,0.02729,0.02552

In [5]:
temp=(train_data['clickTime']>=280000)&(train_data['clickTime']<290000)

In [6]:
train_data.drop(['clickTime','conversionTime'],axis=1,inplace=True)

In [7]:
train_data.head()

,label,connectionType,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,advertiserID,appID,...,uspolast,creativeIDconvrate,positionIDconvrate,camgaignIDconvrate,advertiserIDconvrate,appIDconvrate,adIDconvrate,hometownconvrate,residenceconvrate,appCategoryconvrate
0,0,2,8930,6315,1,18193893,20938,6290,453,382,...,32052,0.01358,0.01601,0.01041,0.00555,0.00892,0.01105,0.03399,0.03040,0.01667
1,0,1,43695,4522,1,4128332,16739,6026,445,149,...,-1,0.04614,0.02438,0.04629,0.02888,0.03875,0.04616,0.03038,0.03047,0.02735
2,0,0,28424,4522,0,17247261,20367,3774,457,359,...,-1,0.00001,0.02438,0.00001,0.00001,0.04060,0.00001,0.03280,0.02863,0.03583
3,0,0,47347,4522,0,14569685,12268,5725,435,368,...,-1,0.00001,0.02438,0.00001,0.00001,0.00840,0.00001,0.02127,0.02868,0.03583
4,0,2,16759,7511,1,8351850,15256,6679,316,374,...,-1,0.01254,0.01094,0.01007,0.02533,0.02604,0.01006,0.03087,0.02729,0.02552

In [8]:
train_data[temp].to_csv('Features/finaldata/valid28.csv',index=False)

In [9]:
train_data[~temp].to_csv('Features/finaldata/train28.csv',index=False)

In [2]:
train_data=pd.read_csv('Features/finaldata/train28.csv')
valid_data=pd.read_csv('Features/finaldata/valid_raw.csv')

In [3]:
train_data.head()

,label,connectionType,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,advertiserID,appID,...,uspolast,creativeIDconvrate,positionIDconvrate,camgaignIDconvrate,advertiserIDconvrate,appIDconvrate,adIDconvrate,hometownconvrate,residenceconvrate,appCategoryconvrate
0,0,2,8930,6315,1,18193893,20938,6290,453,382,...,32052,0.01358,0.01601,0.01041,0.00555,0.00892,0.01105,0.03399,0.03040,0.01667
1,0,1,43695,4522,1,4128332,16739,6026,445,149,...,-1,0.04614,0.02438,0.04629,0.02888,0.03875,0.04616,0.03038,0.03047,0.02735
2,0,0,28424,4522,0,17247261,20367,3774,457,359,...,-1,0.00001,0.02438,0.00001,0.00001,0.04060,0.00001,0.03280,0.02863,0.03583
3,0,0,47347,4522,0,14569685,12268,5725,435,368,...,-1,0.00001,0.02438,0.00001,0.00001,0.00840,0.00001,0.02127,0.02868,0.03583
4,0,2,16759,7511,1,8351850,15256,6679,316,374,...,-1,0.01254,0.01094,0.01007,0.02533,0.02604,0.01006,0.03087,0.02729,0.02552

In [4]:
valid_data.head()

,label,clickTime,connectionType,conversionTime,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,...,uspolast,creativeIDconvrate,positionIDconvrate,camgaignIDconvrate,advertiserIDconvrate,appIDconvrate,adIDconvrate,hometownconvrate,residenceconvrate,appCategoryconvrate
0,0,300000,1,NaN,41047,3322,2,980933,10483,1913,...,11849,0.06539,0.04344,0.08619,0.11799,0.11799,0.06539,0.03006,0.02886,0.12099
1,0,300000,1,NaN,39840,451,2,18935122,28685,3160,...,-1,0.00115,0.00041,0.00145,0.00555,0.00892,0.00217,0.02738,0.02521,0.01667
2,0,300000,1,NaN,16330,1248,3,18744426,15790,6256,...,11431,0.03182,0.01201,0.04056,0.01963,0.02332,0.03182,0.02127,0.02840,0.02552
3,0,300000,1,NaN,28424,4522,1,15857403,20367,3774,...,-1,0.00001,0.02438,0.00001,0.00001,0.04060,0.00001,0.02951,0.02886,0.03583
4,0,300000,1,NaN,23219,5909,1,2343554,16346,2013,...,0,0.02833,0.00838,0.04460,0.04792,0.04175,0.03407,0.03028,0.03342,0.02857

In [5]:
valid_data.drop(['clickTime','conversionTime'],axis=1,inplace=True)

In [6]:
train_data=pd.concat([train_data,valid_data])

In [7]:
train_data.head()

,label,connectionType,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,advertiserID,appID,...,uspolast,creativeIDconvrate,positionIDconvrate,camgaignIDconvrate,advertiserIDconvrate,appIDconvrate,adIDconvrate,hometownconvrate,residenceconvrate,appCategoryconvrate
0,0,2,8930,6315,1,18193893,20938,6290,453,382,...,32052,0.01358,0.01601,0.01041,0.00555,0.00892,0.01105,0.03399,0.03040,0.01667
1,0,1,43695,4522,1,4128332,16739,6026,445,149,...,-1,0.04614,0.02438,0.04629,0.02888,0.03875,0.04616,0.03038,0.03047,0.02735
2,0,0,28424,4522,0,17247261,20367,3774,457,359,...,-1,0.00001,0.02438,0.00001,0.00001,0.04060,0.00001,0.03280,0.02863,0.03583
3,0,0,47347,4522,0,14569685,12268,5725,435,368,...,-1,0.00001,0.02438,0.00001,0.00001,0.00840,0.00001,0.02127,0.02868,0.03583
4,0,2,16759,7511,1,8351850,15256,6679,316,374,...,-1,0.01254,0.01094,0.01007,0.02533,0.02604,0.01006,0.03087,0.02729,0.02552

In [8]:
train_data.tail()

,label,connectionType,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,advertiserID,appID,...,uspolast,creativeIDconvrate,positionIDconvrate,camgaignIDconvrate,advertiserIDconvrate,appIDconvrate,adIDconvrate,hometownconvrate,residenceconvrate,appCategoryconvrate
3364039,0,1,7151,1638,1,1079646,13750,4728,85,308,...,-1,0.00466,0.00467,0.00254,0.00534,0.00250,0.00231,0.02646,0.02480,0.01225
3364040,0,1,14079,4252,3,12368367,11247,5297,422,126,...,0,0.01024,0.00440,0.01028,0.00927,0.00798,0.01026,0.02616,0.02552,0.02926
3364041,0,1,8200,5639,3,14873041,20869,1296,257,245,...,0,0.03543,0.04341,0.03402,0.04036,0.04075,0.03924,0.02668,0.02408,0.02735
3364042,0,1,3586,7149,1,89477,2238,637,3,465,...,8797,0.00928,0.00496,0.01982,0.02033,0.02033,0.01982,0.03195,0.02680,0.02033
3364043,0,0,29543,2426,3,12482915,5975,3148,172,424,...,0,0.01321,0.01637,0.01670,0.02001,0.02095,0.01409,0.03052,0.02729,0.02735

In [9]:
train_data.to_csv('Features/finaldata/train28.csv',index=False)