In [1]:
import pandas as pd
import numpy as np
import random as rnd
import gc

In [2]:
train_data=pd.read_csv('Features/finaldata/train28drop.csv')

In [3]:
# train_data.drop(['haveBabyCounts','pocrCounts','telecomsOperatorCounts','genderCounts','hometownCounts','residenceCounts','marriageStatusCounts','appPlatformCounts'],axis=1,inplace=True)
train_data.drop(['residence','haveBaby','sicrCounts','poadCounts','ageCounts','appPlatform','education','sitesetIDCounts','userID','adID','telecomsOperator','creativeID','adIDCounts','siadCounts','educationCounts','marriageStatus'],axis=1,inplace=True)

In [4]:
train_data.head()

,label,connectionType,positionID,camgaignID,advertiserID,appID,appCategory,age,gender,hometown,...,appCategoryconvrate,cocrCounts,coadCounts,coapCounts,siapCounts,poapCounts,installedusCounts,installedapCounts,appactionCounts,appactionCountsbf
0,0,2,6315,6290,453,382,407,3,1,1503,...,0.01667,17750,24824,65161,1779376,577930,0,1879372,0,0
1,0,1,4522,6026,445,149,104,7,1,1506,...,0.02735,179,179,467,944,944,0,0,0,0
2,0,0,4522,3774,457,359,203,5,1,1209,...,0.03583,933,933,18541,47370,320020,0,261257,0,0
3,0,0,4522,5725,435,368,203,9,2,0,...,0.03583,895,895,4405,147643,179392,58,126341,0,0
4,0,2,7511,6679,316,374,201,2,2,1001,...,0.02552,1514,1793,107908,1216663,1167529,86,409564,0,0

In [5]:
train_data.to_csv('Features/finaldata/train28drop.csv',index=False)

In [6]:
del train_data
gc.collect()

467

In [7]:
valid_data=pd.read_csv('Features/finaldata/valid28drop.csv')

In [8]:
# valid_data.drop(['haveBabyCounts','pocrCounts','telecomsOperatorCounts','genderCounts','hometownCounts','residenceCounts','marriageStatusCounts','appPlatformCounts'],axis=1,inplace=True)
valid_data.drop(['residence','haveBaby','sicrCounts','poadCounts','ageCounts','appPlatform','education','sitesetIDCounts','userID','adID','telecomsOperator','creativeID','adIDCounts','siadCounts','educationCounts','marriageStatus'],axis=1,inplace=True)

In [9]:
valid_data.head()

,label,connectionType,positionID,camgaignID,advertiserID,appID,appCategory,age,gender,hometown,...,appCategoryconvrate,cocrCounts,coadCounts,coapCounts,siapCounts,poapCounts,installedusCounts,installedapCounts,appactionCounts,appactionCountsbf
0,0,1,4522,3115,5,475,104,6,1,2404,...,0.02735,4647,4647,26010,15046,34707,74,0,7,7
1,0,1,10410,5980,657,69,106,6,2,0,...,0.02454,1023,1023,152552,206610,66221,0,0,0,0
2,0,2,485,5265,561,395,503,3,1,511,...,0.02857,63761,63761,385248,1292598,1292601,67,218497,0,0
3,0,0,6796,3642,311,12,203,8,2,0,...,0.03583,283,283,1372,55048,332706,0,0,0,0
4,0,1,6759,6646,554,403,201,5,0,1601,...,0.02552,1701,2163,195151,197889,21479,35,864130,0,0

In [10]:
valid_data.to_csv('Features/finaldata/valid28drop.csv',index=False)

In [11]:
del valid_data
gc.collect()

251

In [12]:
test_data=pd.read_csv('Features/finaldata/testdrop.csv')

In [13]:
# test_data.drop(['haveBabyCounts','pocrCounts','telecomsOperatorCounts','genderCounts','hometownCounts','residenceCounts','marriageStatusCounts','appPlatformCounts'],axis=1,inplace=True)
test_data.drop(['residence','haveBaby','sicrCounts','poadCounts','ageCounts','appPlatform','education','sitesetIDCounts','userID','adID','telecomsOperator','creativeID','adIDCounts','siadCounts','educationCounts','marriageStatus'],axis=1,inplace=True)

In [14]:
test_data.head()

,connectionType,positionID,camgaignID,advertiserID,appID,appCategory,age,gender,hometown,sitesetID,...,appCategoryconvrate,cocrCounts,coadCounts,coapCounts,siapCounts,poapCounts,installedusCounts,installedapCounts,appactionCounts,appactionCountsbf
0,1,4522,5921,311,12,203,5,2,208,2,...,0.03583,0,0,297221,55048,332706,0,0,0,0
1,1,1456,5342,316,374,201,0,0,0,0,...,0.02552,0,0,1051915,1216663,1167529,42,409564,2,2
2,1,4292,2360,565,375,203,7,1,0,0,...,0.03583,0,0,191444,278711,258271,58,2448377,0,0
3,1,3678,6686,649,441,503,9,2,501,0,...,0.02857,226,598,633490,727196,627910,0,167530,0,0
4,1,4818,1155,215,365,301,1,1,2701,0,...,0.01605,0,0,0,0,0,0,710805,0,0

In [15]:
test_data.to_csv('Features/finaldata/testdrop.csv',index=False)