In [1]:
import pandas as pd
import numpy as np
import random as rnd

import gc

In [2]:
data1=pd.read_csv('Features/raw/data1.csv')

In [3]:
data1.head()

,clickTime,connectionType,conversionTime,creativeID,label,positionID,telecomsOperator,userID,adID,camgaignID,...,appCategory,age,gender,education,marriageStatus,haveBaby,hometown,residence,sitesetID,positionType
0,170000,1,NaN,31746,0,4522,1,6762540,11261,2634,...,104,4,1,2,1,0,1409,0,2,0
1,170000,1,NaN,48795,0,4289,1,532848,18112,4938,...,503,5,2,1,0,0,314,2301,0,2
2,170000,1,NaN,6615,0,3255,1,19616027,15400,5397,...,201,2,1,0,0,0,308,308,0,3
3,170000,1,NaN,35911,0,7422,1,8128760,21961,6208,...,0,6,1,1,1,0,503,1105,0,1
4,170000,1,NaN,9187,0,7219,1,2748335,31059,5750,...,201,8,1,2,2,0,112,0,0,3

In [4]:
data1.columns.values

array(['clickTime', 'connectionType', 'conversionTime', 'creativeID',
       'label', 'positionID', 'telecomsOperator', 'userID', 'adID',
       'camgaignID', 'advertiserID', 'appID', 'appPlatform', 'appCategory',
       'age', 'gender', 'education', 'marriageStatus', 'haveBaby',
       'hometown', 'residence', 'sitesetID', 'positionType'], dtype=object)

In [5]:
data1['creativeID'].max(),data1['adID'].max(),data1['appID'].max()

(51754, 31467, 479)

In [6]:
temp={}

In [7]:
features1=['connectionType','sitesetID','positionType']
features2=['creativeID','adID','appID']

In [8]:
for f1 in features1:
    for f2 in features2:
        data1['temp']=data1[f1]*100000+data1[f2]
        name=f1[0:2]+f2[0:2]
        temp[name]=data1['temp'].value_counts()

In [9]:
del data1
gc.collect()

91

In [10]:
data2=pd.read_csv('Features/raw/data2.csv')

In [11]:
for f1 in features1:
    for f2 in features2:
        data2['temp']=data2[f1]*100000+data2[f2]
        name=f1[0:2]+f2[0:2]
        data2[name+'Counts']=data2['temp'].map(temp[name])
        data2[name+'Counts'].fillna(0,inplace=True)
        data2[name+'Counts']=data2[name+'Counts'].astype(int)

In [12]:
data2.drop(['temp'],axis=1,inplace=True)

In [13]:
data2.head()

,clickTime,connectionType,conversionTime,creativeID,label,positionID,telecomsOperator,userID,adID,camgaignID,...,positionType,cocrCounts,coadCounts,coapCounts,sicrCounts,siadCounts,siapCounts,pocrCounts,poadCounts,poapCounts
0,250000,2,NaN,8930,0,6315,1,18193893,20938,6290,...,1,17750,24824,65161,26311,35231,1779376,26311,34024,577930
1,250000,1,NaN,43695,0,4522,1,4128332,16739,6026,...,0,179,179,467,436,436,944,436,436,944
2,250000,0,NaN,28424,0,4522,0,17247261,20367,3774,...,0,933,933,18541,38898,38898,47370,38898,38898,320020
3,250000,0,NaN,47347,0,4522,0,14569685,12268,5725,...,0,895,895,4405,37946,37946,147643,37946,37946,179392
4,250000,2,NaN,16759,0,7511,1,8351850,15256,6679,...,1,1514,1793,107908,2496,2963,1216663,2496,2963,1167529

In [14]:
data2.columns.values

array(['clickTime', 'connectionType', 'conversionTime', 'creativeID',
       'label', 'positionID', 'telecomsOperator', 'userID', 'adID',
       'camgaignID', 'advertiserID', 'appID', 'appPlatform', 'appCategory',
       'age', 'gender', 'education', 'marriageStatus', 'haveBaby',
       'hometown', 'residence', 'sitesetID', 'positionType', 'cocrCounts',
       'coadCounts', 'coapCounts', 'sicrCounts', 'siadCounts',
       'siapCounts', 'pocrCounts', 'poadCounts', 'poapCounts'], dtype=object)

In [15]:
data2=data2[['clickTime','cocrCounts','coadCounts', 'coapCounts', 'sicrCounts', 'siadCounts','siapCounts', 'pocrCounts', 'poadCounts', 'poapCounts']]

In [16]:
data2.head()

,clickTime,cocrCounts,coadCounts,coapCounts,sicrCounts,siadCounts,siapCounts,pocrCounts,poadCounts,poapCounts
0,250000,17750,24824,65161,26311,35231,1779376,26311,34024,577930
1,250000,179,179,467,436,436,944,436,436,944
2,250000,933,933,18541,38898,38898,47370,38898,38898,320020
3,250000,895,895,4405,37946,37946,147643,37946,37946,179392
4,250000,1514,1793,107908,2496,2963,1216663,2496,2963,1167529

In [17]:
data2.tail(3321748).to_csv('Features/assemble/data2_assemble28_test.csv',index=False)

In [18]:
data2.shape

(21283135, 10)

In [19]:
data2=data2.head(21283135-3321748)

In [20]:
data2.tail()

,clickTime,cocrCounts,coadCounts,coapCounts,sicrCounts,siadCounts,siapCounts,pocrCounts,poadCounts,poapCounts
17961382,302359,1198,8512,22074,2960,15186,38248,2960,14222,26902
17961383,302359,1442,1442,18231,1442,1442,18854,1442,1442,13791
17961384,302359,280,515,93028,52,147,15833,34,96,8759
17961385,302359,3667,31451,773900,7867,42146,1061757,6979,41258,1032482
17961386,302359,1447,1711,7056,20210,23909,89486,20205,23234,74178

In [21]:
temp=(data2['clickTime']>=280000)&(data2['clickTime']<290000)

In [22]:
data2[temp].to_csv('Features/assemble/data2_assemble28_valid.csv',index=False)

In [23]:
data2[~temp].to_csv('Features/assemble/data2_assemble28_train.csv',index=False)