In [1]:
import pandas as pd
import numpy as np
import random as rnd

In [2]:
cvr=pd.read_csv('Features/oned_stat.csv')

In [7]:
cvr.columns.values

array(['creativeIDconvrate', 'positionIDconvrate', 'camgaignID_convrate',
       'advertiserID_convrate', 'appID_convrate', 'adID_convrate',
       'hometown_convrate', 'residence_convrate', 'appCategory_convrate'], dtype=object)

In [6]:
cvr.rename(columns={'creativeID_convrate':'creativeIDconvrate','positionID_convrate':'positionIDconvrate'},inplace=True)

In [8]:
cvr.rename(columns={'camgaignID_convrate':'camgaignIDconvrate','advertiserID_convrate':'advertiserIDconvrate', 'appID_convrate':'appIDconvrate', 'adID_convrate':'adIDconvrate','hometown_convrate':'hometownconvrate', 'residence_convrate':'residenceconvrate', 'appCategory_convrate':'appCategoryconvrate'},inplace=True)

In [9]:
cvr.head()

,creativeIDconvrate,positionIDconvrate,camgaignIDconvrate,advertiserIDconvrate,appIDconvrate,adIDconvrate,hometownconvrate,residenceconvrate,appCategoryconvrate
0,0.02051,0.02438,0.02098,0.01764,0.02879,0.02067,0.02596,0.01561,0.02735
1,0.00099,0.01008,0.00276,0.00288,0.00267,0.00275,0.02988,0.03342,0.02857
2,0.01161,0.00328,0.01778,0.01963,0.02332,0.01778,0.03072,0.02787,0.02552
3,0.01298,0.00265,0.00970,0.01184,0.01184,0.01299,0.02669,0.02602,0.02926
4,0.01263,0.04231,0.00994,0.01963,0.02332,0.00993,0.02903,0.01561,0.02552

In [10]:
cvr.shape

(41234657, 9)

In [11]:
cvr1=cvr.head(41234657-21283135)

In [12]:
cvr1.tail()

,creativeIDconvrate,positionIDconvrate,camgaignIDconvrate,advertiserIDconvrate,appIDconvrate,adIDconvrate,hometownconvrate,residenceconvrate,appCategoryconvrate
19951517,0.01314,0.02995,0.01316,0.01651,0.02252,0.01315,0.02127,0.02752,0.02735
19951518,0.05432,0.05869,0.05432,0.04458,0.04283,0.05432,0.02754,0.02702,0.02735
19951519,0.05356,0.03184,0.04904,0.06639,0.05484,0.05319,0.02735,0.01561,0.01636
19951520,0.03081,0.06064,0.05343,0.04469,0.04497,0.03081,0.03004,0.02610,0.02735
19951521,0.00336,0.00769,0.00292,0.00092,0.00093,0.00282,0.02648,0.02400,0.03100

In [13]:
cvr=cvr.tail(21283135)

In [15]:
cvr1.to_csv('Features/convrate/data1_convrate.csv',index=False)
cvr.to_csv('Features/convrate/data2_convrate.csv',index=False)