In [2]:
import pandas as pd
import numpy as np
import random as rnd

import gc

In [2]:
app_action=pd.read_csv('Datasets/user_app_actions.csv')
data2=pd.read_csv('Features/raw/data2.csv')

In [3]:
app_action.head()

   userID  installTime  appID
0       1     18203243    933
1       5     14135449    589
2       5     25172753    565
3       5     26093226    596
4       5     26131830    536

In [4]:
data2.head()

,clickTime,connectionType,conversionTime,creativeID,label,positionID,telecomsOperator,userID,adID,camgaignID,...,appCategory,age,gender,education,marriageStatus,haveBaby,hometown,residence,sitesetID,positionType
0,250000,2,NaN,8930,0,6315,1,18193893,20938,6290,...,407,3,1,1,0,0,1503,1503,0,1
1,250000,1,NaN,43695,0,4522,1,4128332,16739,6026,...,104,7,1,1,3,0,1506,1501,2,0
2,250000,0,NaN,28424,0,4522,0,17247261,20367,3774,...,203,5,1,0,0,0,1209,1209,2,0
3,250000,0,NaN,47347,0,4522,0,14569685,12268,5725,...,203,9,2,0,0,0,0,213,2,0
4,250000,2,NaN,16759,0,7511,1,8351850,15256,6679,...,201,2,2,5,1,0,1001,1001,0,1

In [5]:
data2['appactionCounts']=data2['userID'].map(app_action['userID'].value_counts())

In [6]:
app_action=app_action[(app_action['installTime']>=17000000)&(app_action['installTime']>=25000000)]

In [7]:
data2['appactionCountsbf']=data2['userID'].map(app_action['userID'].value_counts())

In [10]:
data2['appactionCounts'].fillna(0,inplace=True)
data2['appactionCounts']=data2['appactionCounts'].astype(int)
data2['appactionCountsbf'].fillna(0,inplace=True)
data2['appactionCountsbf']=data2['appactionCounts'].astype(int)

In [11]:
data2.head()

,clickTime,connectionType,conversionTime,creativeID,label,positionID,telecomsOperator,userID,adID,camgaignID,...,gender,education,marriageStatus,haveBaby,hometown,residence,sitesetID,positionType,appactionCounts,appactionCountsbf
0,250000,2,NaN,8930,0,6315,1,18193893,20938,6290,...,1,1,0,0,1503,1503,0,1,0,0
1,250000,1,NaN,43695,0,4522,1,4128332,16739,6026,...,1,1,3,0,1506,1501,2,0,0,0
2,250000,0,NaN,28424,0,4522,0,17247261,20367,3774,...,1,0,0,0,1209,1209,2,0,0,0
3,250000,0,NaN,47347,0,4522,0,14569685,12268,5725,...,2,0,0,0,0,213,2,0,0,0
4,250000,2,NaN,16759,0,7511,1,8351850,15256,6679,...,2,5,1,0,1001,1001,0,1,0,0

In [12]:
data2=data2[['clickTime','appactionCounts','appactionCountsbf']]

In [16]:
data2.tail(3321748).to_csv('Features/appaction/test28_appaction.csv')

In [17]:
data2.shape

(21283135, 3)

In [18]:
data2=data2.head(21283135-3321748)

In [19]:
temp=(data2['clickTime']>=280000)&(data2['clickTime']<290000)

In [20]:
data2[temp].to_csv('Features/appaction/valid28_appaction.csv')

In [21]:
data2[~temp].to_csv('Features/appaction/train28_appaction.csv')

In [4]:
app_action=pd.read_csv('Datasets/user_app_actions.csv')
app_categories=pd.read_csv('Datasets/app_categories.csv')

In [5]:
app_action=pd.merge(app_action,app_categories,how='left')

In [8]:
app_action.head()

   userID  installTime  appID  appCategory
0       1     18203243    933          106
1       5     14135449    589          109
2       5     25172753    565          203
3       5     26093226    596          106
4       5     26131830    536          104

In [9]:
app_action['cateClass']=app_action['appCategory']//100

In [12]:
app_action.head()

   userID  installTime  appID  appCategory  cateClass  usercateCounts
0       1     18203243    933          106          1              11
1       5     14135449    589          109          1              51
2       5     25172753    565          203          2              52
3       5     26093226    596          106          1              51
4       5     26131830    536          104          1              51

In [11]:
app_action['usercateCounts']=app_action['userID']*10+app_action['cateClass']

In [14]:
app_action['usercateCounts'].value_counts().shape

(14588946,)